:root {
  --bg: #fdf0d5;
  --card: #780000;
  --text: #669BBC;
}

body{
  font-family: "Roboto Slab", serif;
  margin: 0;
  background-color: var(--bg);
}

.intro {
  margin: 1rem;
  padding: .5rem;
  background-color: var(--card);
  border-radius: 1rem;
}

.intro .intro__header {
  text-align: center;
}

.conatiner { 
  display: grid;
  margin: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  border-radius: 1rem;
  background-color: #f5f5f5;
}

.card__header {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #f5f5f5;
  padding: 0.5rem;
  text-align: center;
}

.card__body {
  padding: 1rem;
}

.card__body__image {
  text-align: center;
  max-width: 100%;
}

.card__body__text {
  margin-top: 0.5rem;
  color: var(--text);
}

.card .card__body img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 820px) { /* iPad air*/
  .conatiner {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) { /* Xr */
  .conatiner {
    grid-template-columns: 1fr;
  }
}
